.progress-box {
  width: 100%;
  height: calc(100vh - 64px);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip-wrap {
  padding: 5px;
  display: inline-block;
}

.chip {
  min-width: 48px;
}

.ticket-avail-loading {
  height: 300px;
  width: 800px;
}

.link-button:hover {
  background-color: transparent !important;
}

.event-list-wrap {
  padding: 15px;
}
